*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.navbar-brand{
    width:100px;
    height: 100px;
}

.navbar-nav .nav-item{
    margin-left: 80px;
}

.footer-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.column{
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
}
.column h1{
    font-family: "Open Sans", sans-serif;
}
.footer{
    display: grid;
}
.column img{
    width:100px;
    height: 100px;
}
.footer p{
    text-align: center;
}
.footer-bg{
    background-color: rgb(3, 70, 70);
    font-family: "Open Sans", sans-serif;
}